html, body {
    font-family: 'Roboto', sans-serif;
}

.div-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-child {
    align-items: center;
    text-align: center;
}